.select1 {
    padding: 30px;
    .another {
        margin: 20px;
    }
}

$main-width: 100%;                  // 전역변수
#main {
    $width: 10px !global;           // 전역변수
    border: $width solid red;     /* 3 */
    $main_color: #fff;
    background-color: $main-color;
    width: $main-width;
}
#sidebar {
    width: $width*50;               /* 7 */
}
#content {
    $width: 300px;
    width: $width;                  /* 8 */
}
#sidebar2 {
    width: ($main_width/10);        // Sass 에서는 하이픈(-)과 언더바(_)를 동일한 기호로 인식한다.
}

$name: foo;
$attr: border;

p.#{$name} {
    #{$attr}-color: blue;
}

body {
    margin: 0;
    padding: 0;
}
.box1 {
    height: 300px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    background: {
        image: url("pic1.jpg");
        repeat: no-repeat;
        size: cover;
        position: center;
    };
    h1 {
        font-size: 65px;
        text-transform: capitalize;
    };
    p {
        width: 800px;
        margin: 20px auto;
    };
}
.box2 {
    @extend .box1;
    padding-top: 70px;
    h1 {
        font-size: 45px;
    };
    background-image: url("pic2.jpg");
    p {
        width: 500px;
    };
}
.box3 {
    @extend .box2;
    h1 {
        font-size: 80px;
    };
    background-image: url("pic3.jpg");
    text-shadow: 2px 2px 5px #000;
}